<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">History Of KSC</h2>
      <p class="lead">We work with people and organizations who have ambitious missions - whether they are in the commercial, social or government sectors. We set up smart teams who love challenges and think disruptively to help our clients succeed. Our Agile development tools help our clients continuously improve and deliver quality software.</p>
    </div>

  </div>

  <hr class="featurette-divider">

  <div class="row featurette">

    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Founders</h2>
      <p class="lead">There are no specific prerequisites to participate in these sessions. In fact, only a few students who attend these sessions have their own laptops. KSC is not just about tech sessions, but about knowledge sharing. Students who come have very limited exposure to key technologies. They first attend the KSC introductory sessions, which focus on assessing and improving the participant's computer literacy. For example, students who study in a non computer science program, create accounts for a list of free online applications and services, like GitHub. Not all students are able to efficiently use technologies like Google Apps that allow them to work as a team on a single report. KSC becomes a bridge that helps students embrace a very large online world, with skills needed to access this.</p>
    </div>

  </div>




  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Trainers</h2>
      <p class="lead">What was heartening was that from the 25 people we expected, 72% attended, out of which 50% were females. It was an engaging experience for both trainers and students. Here is a short video of one of the sessions.
        Although this first workshop targeted MBA students, any participant who came with a different background and who did not have an idea on how to start a business, walked away with an understanding of the Business Model Canvas (BMC) framework. With this template, students are now able to frame their innovative ideas and turn them into a business.</p>
      </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">KSC Alumni</h2>
        <p class="lead">In a few months, KSC has engaged and positively touched the lives of hundreds of young African students covering over 50% of African countries, out of which 40% were women. This is just the start - we hope that these numbers can quickly scale. We wish to replicate this experiment in other parts of the world where we know there are many African students with similar, if not tougher, challenges The African student diaspora faces challenges to get internship opportunities. KSC's key objectives have been shaped in a way that ensure we are able to respond to students’ specific challenges as we learn from their backgrounds and skills prior to starting the program. The program focuses on developing skills using Agile Practices, learning to use open source technologies and building awareness for social and economic issues. Communication and presentation skills are developed using the Pecha Kucha framework.</p>
      </div>

    </div>

    <hr class="featurette-divider">


  </div>
