<div class="container">
  <h1>Welcome <%= current_user.first_name %>!</h1>

  <p>Thanks for signing up to the Knowledege Sharing Campaign Initiative.</p>

  <p><%= current_user.university %> is a world class university</p>

</div>
