<div class="container">
  <h1>Welcome <%= current_user.first_name %>!</h1>
  is it possible to add image uploader like a phot
  show username
  <%= current_user.university %>
  training
  date of birth
  and any mini gallery of the user
  ok
</div>
