<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Upcoming Events</h2>
      <div class="btn btn primary">
        <button type="button" onclick="alert('Great, look forward to seeing you at the event.')">Going</button>
        <button type="button" onclick="alert('Sorry, maybe next time.')">Not Going</button>
      </div>
      <section class="lead">
        <span><h4>Description :</h4></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat metus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi tristique urna vel enim vestibulum pulvinar. Nunc auctor massa feugiat ullamcorper maximus. Sed ac est nisi.</p>
      </section>
      <p class="lead">
        <span><h4>Event Details :</h4></span>
        <ul>
          <li1>Date : 11 Dec 2015</li1><br>
          <li1>Time : 10:00 to 18:00</li1><br>
          <li1>Venue: Osmania Unversity </li1></br>
          <%= link_to "Find Me On Google Maps", "https://www.google.co.in/maps/place/Osmania+University/@17.413502,78.5287355,15z/data=!4m2!3m1!1s0x0:0x2b40415d8a716d20", :target => "_blank" %>
        </ul>
      </p>
    </div>
  </div>



<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Upcoming Events</h2>
    <div class="btn btn primary">
      <button type="button" onclick="alert('Great, look forward to seeing you at the event.')">Going</button>
      <button type="button" onclick="alert('Sorry, maybe next time.')">Not Going</button>
    </div>
    <section class="lead">
      <span><h4>Description :</h4></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat metus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi tristique urna vel enim vestibulum pulvinar. Nunc auctor massa feugiat ullamcorper maximus. Sed ac est nisi.</p>
    </section>
    <p class="lead">
      <span><h4>Event Details :</h4></span>
      <ul>
        <li1>Date : 11 Dec 2015</li1><br>
        <li1>Time : 10:00 to 18:00</li1><br>
        <li1>Venue: Osmania Unversity </li1></br>
        <%= link_to "Find Me On Google Maps", "https://www.google.co.in/maps/place/Osmania+University/@17.413502,78.5287355,15z/data=!4m2!3m1!1s0x0:0x2b40415d8a716d20", :target => "_blank" %>
      </ul>
    </p>
  </div>
</div>


<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Upcoming Events</h2>
    <div class="btn btn primary">
      <button type="button" onclick="alert('Great, look forward to seeing you at the event.')">Going</button>
      <button type="button" onclick="alert('Sorry, maybe next time.')">Not Going</button>
    </div>
    <section class="lead">
      <span><h4>Description :</h4></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat metus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi tristique urna vel enim vestibulum pulvinar. Nunc auctor massa feugiat ullamcorper maximus. Sed ac est nisi.</p>
    </section>
    <p class="lead">
      <span><h4>Event Details :</h4></span>
      <ul>
        <li1>Date : 11 Dec 2015</li1><br>
        <li1>Time : 10:00 to 18:00</li1><br>
        <li1>Venue: Osmania Unversity </li1></br>
        <%= link_to "Find Me On Google Maps", "https://www.google.co.in/maps/place/Osmania+University/@17.413502,78.5287355,15z/data=!4m2!3m1!1s0x0:0x2b40415d8a716d20", :target => "_blank" %>
      </ul>
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Upcoming Events</h2>
    <div class="btn btn primary">
      <button type="button" onclick="alert('Great, look forward to seeing you at the event.')">Going</button>
      <button type="button" onclick="alert('Sorry, maybe next time.')">Not Going</button>
    </div>
    <section class="lead">
      <span><h4>Description :</h4></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat metus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi tristique urna vel enim vestibulum pulvinar. Nunc auctor massa feugiat ullamcorper maximus. Sed ac est nisi.</p>
    </section>
    <p class="lead">
      <span><h4>Event Details :</h4></span>
      <ul>
        <li1>Date : 11 Dec 2015</li1><br>
        <li1>Time : 10:00 to 18:00</li1><br>
        <li1>Venue: Osmania Unversity </li1></br>
        <%= link_to "Find Me On Google Maps", "https://www.google.co.in/maps/place/Osmania+University/@17.413502,78.5287355,15z/data=!4m2!3m1!1s0x0:0x2b40415d8a716d20", :target => "_blank" %>
      </ul>
    </p>
  </div>
</div>

<hr class="featurette-divider">


</div>
