<h1>Partners</h1>
<a href="https://www.thoughtworks.com/" target="_blank"><%= image_tag "tw.png" %><!--<img alt="Go to ThoughtWorks page" border="1" height="200" src="/static/images/tw.png" width="600">--></a>
<a href="http://swecha.org/" target="_blank"><%= image_tag "swecha.jpeg" %><!--<img alt="Go to swecha page" border="1" height="200" src="/static/images/swecha.jpeg" width="600">--></a>
<a href="http://asa-telangana.org/" target="_blank"><%= image_tag "asa.jpeg" %><!--<img alt="Go to asa page" border="1" height="200" src="/static/images/asa.jpeg" width="600">--></a>
