
<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
    <p class="lead">
        <h1 class="featurette-heading">Privacy Policy</h1>
        <p class="lead">We are committed to safeguarding the privacy of our website visitors; this policy sets out how we will treat your personal information.
        <p class="lead">
        <h3>This policy is divided into two parts:</h3>
        <p class="lead">
            Part A includes basic information about SEQ Legal;
            <p class="lead"> Part B is concerned with our use of personal data generally; and
            <p class="lead"> Part C is concerned with the web cookies that are employed by our website.
            <p class="lead"> By using our website and agreeing to this policy, you consent to our use of cookies in
            <p class="lead"> accordance with the terms of this policy.</p>

        <h3>PART A: SEQ LEGAL LLP</h3>
        <h4>(1) Data controller(s)</h4>
        <p class="lead">SEQ Legal LLP is a data controller in respect of all the personal data collected on or in relation to this website.

        <p class="lead">Our data protection registration number is Z9812061.

        <p class="lead">In addition, where you make a request for legal services and we pass your personal data to one of our law firm partners, that law firm partner will also be a data contoller in respect of that data.
        <p class="lead">
        <h4>(2) Contact details</h4>
        <p class="lead">If you have any questions about this privacy policy or our treatment of your personal information, please write to us:
        <p class="lead">
        by email to ; or using our website contact form; or by post to SEQ Legal LLP, Howbery Park, Wallingford, Oxfordshire OX10 8BX, UK.
        <p class="lead">
        <h3>PART B: PERSONAL DATA</h3>
        <p class="lead">(3) What information do we collect?</h4>
        <p class="lead">We may collect, store and use the following kinds of personal information:
        <p class="lead">
        (a) information about your computer and about your visits to and use of this website (including your IP address, geographical location, browser type and version, operating system type and version, referral source, length of visit, page views, website navigation paths and service usage);
        <p class="lead">
        (b) information relating to any transactions carried out between you and us on or in relation to this website, including information relating to any purchases you make of our goods or services.
        <p class="lead">
        (c) information that you provide to us for the purpose of registering with us.
        <p class="lead">
        (e) information that you send to us in order to obtain a quotation for legal services.
        <p class="lead">
        (f) information that you provide to us for the purpose of subscribing to our website email notifications and/or newsletters.
        <p class="lead">
        (g) information that you provide to us for the purpose of using our website-based and other services; and
        <p class="lead">
        (h) any other information that you choose to send to us.

        <h4>(4) Using your personal information</h4>
        <p class="lead">Personal information submitted to us via this website will be used for the purposes specified in this privacy policy or in relevant parts of the website.
        <p class="lead"> We may use your personal information to:

        <p class="lead"> (a) administer the website;

        <p class="lead"> (b) improve your browsing experience by personalising the website;

        <p class="lead"> (c) enable your use of the services available on the website;


        <p class="lead">(d) send to you goods purchased via the website, and supply to you services purchased via the website.
        <p class="lead"> (e) send statements and invoices to you, and collect payments from you;

        <p class="lead"> (f) send you general (non-marketing) commercial communications;

        <p class="lead"> (g) send you email notifications which you have requested;


        <p class="lead">(h) send to you our newsletter and other marketing communications relating to our business or the businesses of carefully-selected third parties which we think may be of interest to you by post or, where you have specifically agreed to this, by email or similar technology (you can inform us at any time if you no longer require marketing communications);

        <p class="lead">(i) provide third parties with statistical information about our users – but this information will not be used to identify any individual user.
        <p class="lead">
        (j) deal with enquiries and complaints made by or about you relating to the website.</p>

        <p class="lead">Where you submit personal information for publication on our website, we will publish and otherwise use that information in accordance with the licence you grant to us.</p>

        <p class="lead">All our website financial transactions are handled through our payment services provider, Sage Pay. You can review the Sage Pay privacy policy at www.sagepay.com. We will share information with Sage Pay only to the extent necessary for the purposes of processing payments you make via our website and dealing with charge-backs, refunds, complaints and queries relating to such payments.</p>

        <p class="lead">We use Mollom to analyse form submissions for spam. If you submit a form protected by Mollom on our website, the information that you supply using the form will be passed to Mollom for textual analysis. You can review Mollom's privacy policy at: http://mollom.com/web-service-privacy-policy.</p>

        <h4>(5) Law firm partners</h4>
        Where you make a request for legal services, we may pass that request and all the information associated with that request to one or more of our law firm partners.

        <p class="lead">Where we pass your personal data to one of our law firm partners, that law firm partner will be a data contoller in respect of that data (in addition to us continuing to be a data controller in respect of that data).</p>

        <h4>(6) Other disclosures</h4>
        <p class="lead">We may disclose information about you to any of our employees, officers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes as set out in this privacy policy.</p>
        <p class="lead"> In addition, we may disclose your personal information:

        <p class="lead"> (a) to the extent that we are required to do so by law;

        <p class="lead"> (b) in connection with any legal proceedings or prospective legal proceedings;

        <p class="lead">(c) in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);</p>

        <p class="lead">(d) to the purchaser (or prospective purchaser) of any business or asset that we are (or are contemplating) selling; and</p>

        <p class="lead">(e) to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.</p>

        <h4>(7) International data transfers</h4>
        <p class="lead">Information that we collect may be stored and processed in and transferred between any of the countries in which we operate in order to enable us to use the information in accordance with this privacy policy.</p>

        <p class="lead">Information which you provide may be transferred to countries which do not have data protection laws equivalent to those in force in the European Economic Area.</p>

        <p class="lead">In addition, personal information that you submit for publication on the website will be published on the internet and may be available, via the internet, around the world. We cannot prevent the use or misuse of such information by others.</p>
        <p class="lead"> You expressly agree to such transfers of personal information.


        <h4>(8) Security of your personal information</h4>
        <p class="lead">We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.</p>
        <p class="lead">
        <p class="lead">We will store all the personal information you provide on our secure (password- and firewall- protected) servers. All electronic financial transaction data associated with transactions you make on or in relation to our website will be encrypted using SSL technology.</p>

        <p class="lead">Of course, data transmission over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</p>

        <p class="lead">You are responsible for keeping your password and user details confidential. We will not ask you for your password (except, of course, when you log in to the website).</p>

        <h4>(9) Policy amendments</h4>
        <p class="lead">We may update this privacy policy from time-to-time by posting a new version on our website. You should check this page occasionally to ensure you are happy with any changes.</p>
        <p class="lead"> We may from time to time also notify you of changes to our privacy policy by email.

        <h4>(10) Your rights</h4>
        <p class="lead">You may instruct us to provide you with any personal information we hold about you. Provision of such information will be subject to:</p>
        <p class="lead"> (a) the payment of a fee (currently fixed at £10.00); and

        <p class="lead">(b) the supply of appropriate evidence of your identity (for this purpose, we will usually accept a photocopy of your passport certified by a solicitor or bank plus an original copy of a utility bill showing your current address).</p>
        <p class="lead"> We may withhold such personal information to the extent permitted by law.


        <p class="lead">You may instruct us not to process your personal information for marketing purposes by sending an email to us. In practice, you will usually either expressly agree in advance to our use of your personal information for marketing purposes, or we will provide you with an opportunity to opt-out of the use of your personal information for marketing purposes.</p>
        <p class="lead">
        <h4>(11) Third party websites</h4>
        <p class="lead">The website contains links to other websites. We are not responsible for the privacy policies or practices of third party websites.</p>

        <h4>(12) Updating information</h4>
        <p class="lead">Please let us know if the personal information which we hold about you needs to be corrected or updated.
        </p>

        <h3>PART C: COOKIES</h3>
        <h4>(13) About cookies</h4>
        <p class="lead">Our website uses cookies. You consent to our use of cookies in accordance with the terms of this policy.</p>

        <p class="lead">Cookies consist of small files, often including unique identifiers, that are sent by web servers to web browsers, and which may then be sent back to the server each time the browser requests a page from the server.</p>

        <p class="lead">Cookies can be used by web servers to identity and track users as they navigate different pages on a website and to identify users returning to a website.</p>

        <p class="lead">Cookies may be either “persistent” cookies or “session” cookies. A persistent cookie consists of a text file sent by a web server to a web browser, which will be stored by the browser and will remain valid until its set expiry date (unless deleted by the user before the expiry date). A session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed.</p>

        <h4>(14) Cookies on this website</h4>
        We use both session cookies and persistent cookies on this website.
        <p class="lead">
        <h4>(15) How we use cookies</h4>
        <p class="lead">Cookies do not contain any information that personally identifies you, but personal information that we store about you may be linked, by us, to the information stored in and obtained from cookies.</p>

        <p class="lead">We may use the information we obtain from your use of our cookies for the following purposes:</p>

        <p class="lead">(1) to recognise your computer when you visit our website;</p>

        <p class="lead">(2) to track you as you navigate our website, and to enable the use of the some of the features on our website (such as our shopping cart, Q&A system, and blogging and commenting system);</p>

        <p class="lead">(3) to improve the website’s usability;</p>

        <p class="lead">(4) to analyse the use of our website;</p>

        <p class="lead">(5) in the administration of this website;</p>

        <p class="lead">(6) to personalise our website for you, including targeting advertisements which may be of particular interest to you.</p>

        <h4>(16) Third party cookies</h4>
        <p class="lead">When you use our website, you may also be sent third party cookies.</p>
        <p class="lead">
        <p class="lead">We use Google Analytics to analyse the use of this website. Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers. The information generated relating to our website is used to create reports about the use of the website. Google will store this information. Google's privacy policy is available at: http://www.google.com/privacypolicy.html.</p>
        <p class="lead">
        <h4>(17) Blocking cookies</h4>
        <p class="lead">Most browsers allow you to refuse to accept cookies. For example:</p>

        <p class="lead">(1) in Internet Explorer you can refuse all cookies by clicking “Tools”, “Internet Options”, “Privacy”, and selecting “Block all cookies” using the sliding selector;</p>

        <p class="lead">(2) in Firefox you can block all cookies by clicking “Tools”, “Options”, and un-checking “Accept cookies from sites” in the “Privacy” box.</p>

        <p class="lead">Blocking all cookies will, however, have a negative impact upon the usability of many websites. If you block cookies, you will not be able to use many of the features of this website.</p>

        <h4>(18) Deleting cookies</h4>

        <p class="lead">You can also delete cookies already stored on your computer. The method of doing so will depend upon your web browser. Instructions are available at the following URLs.</p>
    </p>
  </div>
</div>
</div>
