
  <div class="event_content">
  <center><h1 id="heading">Upcoming Events</h1></center>
  <div class="box_layout">
    <nav class="pic">
      <span class="event_name">Interactive Football Session</span>
      <%= image_tag "real_madrid.jpeg" %><!--<img src="/static/images/real_madrid.jpeg" width="100%" height="100%">-->
      <div class="button">
      <button type="button" onclick="alert('Great, look forward to seeing you at the event.')">Going</button>
      <button type="button" onclick="alert('Sorry, maybe next time.')">Not Going</button>
      </div>
    </nav>
    <section class="description">
      <span>Description :</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat metus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi tristique urna vel enim vestibulum pulvinar. Nunc auctor massa feugiat ullamcorper maximus. Sed ac est nisi.</p>
    </section>
    <section class="description">
      <span>Event Details :</span>
      <ul>
        <li1>Date : 11 Dec 2015</li1><br>
        <li1>Time : 10:00 to 18:00</li1><br>
        <li1>Venue: Osmania Unversity <a href="https://www.google.co.in/maps/place/Osmania+University/@17.413502,78.5287355,15z/data=!4m2!3m1!1s0x0:0x2b40415d8a716d20"target="_blank">Find Me On Google Maps</a></li1></br>
      </ul>
    </section>
  </div>

  <div class="event_seperator"></div>

  <div class="box_layout">
  <nav class="pic">
    <span class="event_name"> Interactive Football Session</span>
    <%= image_tag "real_madrid.jpeg" %><!--<img src="/static/images/real_madrid.jpeg" width="100%" height="100%">-->
    <div class="button">
    <button type="button" onclick="alert('Great, look forward to seeing you at the event.')">Going</button>
    <button type="button" onclick="alert('Sorry, maybe next time.')">Not Going</button>
    </div>
  </nav>
  <section class="description">
    <span>Description :</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat metus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi tristique urna vel enim vestibulum pulvinar. Nunc auctor massa feugiat ullamcorper maximus. Sed ac est nisi.</p>
  </section>
  <section class="description">
    <span>Event Details :</span>
    <ul>
        <li1>Date : 11 Dec 2015</li1><br>
        <li1>Time : 10:00 to 18:00</li1><br>
        <li1>Venue: Osmania Unversity <a href="https://www.google.co.in/maps/place/Osmania+University/@17.413502,78.5287355,15z/data=!4m2!3m1!1s0x0:0x2b40415d8a716d20"target="_blank">Find Me On Google Maps</a></li1></br>
      </ul>
  </section>
  </div>

  <div class="event_seperator"></div>

  <div class="box_layout">
  <nav class="pic">
    <span class="event_name"> Interactive Football Session</span>
    <%= image_tag "real_madrid.jpeg" %><!--<img src="/static/images/real_madrid.jpeg" width="100%" height="100%">-->
    <div class="button">
    <button type="button" onclick="alert('Great, look forward to seeing you at the event.')">Going</button>
    <button type="button" onclick="alert('Sorry, maybe next time.')">Not Going</button>
    </div>
  </nav>
  <section class="description">
    <span>Description :</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat metus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi tristique urna vel enim vestibulum pulvinar. Nunc auctor massa feugiat ullamcorper maximus. Sed ac est nisi.</p>
  </section>
  <section class="description">
    <span>Event Details :</span>
    <ul>
        <li1>Date : 11 Dec 2015</li1><br>
        <li1>Time : 10:00 to 18:00</li1><br>
        <li1>Venue: Osmania Unversity <a href="https://www.google.co.in/maps/place/Osmania+University/@17.413502,78.5287355,15z/data=!4m2!3m1!1s0x0:0x2b40415d8a716d20"target="_blank">Find Me On Google Maps</a></li1></br>
      </ul>
  </section>
  </div>
  <div class="event_seperator"></div>
  </div>
