<% provide(:title, "About") %>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2 well about">
			<h2>Private Events</h2>
			<p>By Invitation</p>
			<p>By Invitation</p>

			<p>By Invitation</p>
			<p>KSC</p>

	</div>
</div>
